###### Requirements without Version Specifiers ######
flake8
black

matplotlib
opencv-python
pandas

natsort
selenium
ipdb

###### Requirements with Version Specifiers ######
pillow
tensorboard

numpy==1.18.5
scipy==1.9.3
imageio==2.22.4
progressbar2==4.2.0

# torch==1.7.1
# torchvision==0.8.2
# torchaudio==0.7.2

# torch==1.12.0
# torchinfo==1.7.0
# torchmetrics==0.9.3
# torchvision==0.13.0


torch==1.9.1+cu111          # for compativility with RTX3090
torchvision==0.10.1+cu111   # for compativility with RTX3090
-f https://download.pytorch.org/whl/torch_stable.html
setuptools==58.2.0          # for compativility with Tensorbord


hydra-core==1.2.0